{{ header }}{{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-paymentwpay" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if (error_warning) %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-paymentwpay" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-merchant">{{ entry_merchant }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_paymentwpay_merchant" value="{{ payment_paymentwpay_merchant }}" placeholder="{{ entry_merchant }}" id="input-merchant" class="form-control" />
              {% if (error_merchant) %} 
              <div class="text-danger">{{ error_merchant }}</div>
              {% endif %} 
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-password"><span data-toggle="tooltip" title="{{ help_password }}">{{ entry_password }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_paymentwpay_password" value="{{ payment_paymentwpay_password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
              {% if (error_password) %} 
              <div class="text-danger">{{ error_password }}</div>
              {% endif %} 
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-md5-secret"><span data-toggle="tooltip" title="{{ help_md5_secret }}"> {{ entry_md5_secret }} </span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_paymentwpay_md5_secret" value="{{ payment_paymentwpay_md5_secret }}" placeholder="{{ entry_md5_secret }}" id="input-password" class="form-control" />
              {% if (error_password) %} 
              <div class="text-danger">{{ error_password }}</div>
              {% endif %} 
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-signature"><span data-toggle="tooltip" title="{{ help_signature }}"> {{ entry_signature }} </span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_paymentwpay_signature" value="{{ payment_paymentwpay_signature }}" placeholder="{{ entry_signature }}" id="input-password" class="form-control" />
              {% if (error_password) %} 
              <div class="text-danger">{{ error_password }}</div>
              {% endif %} 
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-callback"><span data-toggle="tooltip" title="{{ help_callback }}">{{ entry_callback }}</span></label>
            <div class="col-sm-10">
            <input type="text" onclick="this.focus();this.select()" readonly value="<wpdisplay item=MC_callback>" id="input-callback" class="form-control" maxlength="200" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-test">{{ entry_test }}</label>
            <div class="col-sm-10">
              <select name="payment_paymentwpay_test" id="input-test" class="form-control">
                {% if (payment_paymentwpay_test == '0') %} 
                <option value="0" selected="selected">{{ text_off }}</option>
                {% else %} 
                <option value="0">{{ text_off }}</option>
                {% endif %} 
                {% if (payment_paymentwpay_test == '100') %} 
                <option value="100" selected="selected">{{ text_successful }}</option>
                {% else %} 
                <option value="100">{{ text_successful }}</option>
                {% endif %} 
                {% if (payment_paymentwpay_test == '101') %} 
                <option value="101" selected="selected">{{ text_declined }}</option>
                {% else %} 
                <option value="101">{{ text_declined }}</option>
                {% endif %} 
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip" title="{{ help_total }}">{{ entry_total }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_paymentwpay_total" value="{{ payment_paymentwpay_total }}" placeholder="{{ entry_total }}" id="input-total" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">{{ entry_order_status }}</label>
            <div class="col-sm-10">
              <select name="payment_paymentwpay_order_status_id" id="input-order-status" class="form-control">
                {% for order_status in order_statuses %} 
                {% if (order_status['order_status_id'] == payment_paymentwpay_order_status_id) %} 
                <option value="{{ order_status['order_status_id'] }}" selected="selected">{{ order_status['name'] }}</option>
                {% else %} 
                <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                {% endif %} 
                {% endfor %} 
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
            <div class="col-sm-10">
              <select name="payment_paymentwpay_geo_zone_id" id="input-geo-zone" class="form-control">
                <option value="0">{{ text_all_zones }}</option>
                {% for geo_zone in geo_zones %} 
                {% if (geo_zone['geo_zone_id'] == payment_paymentwpay_geo_zone_id) %} 
                <option value="{{ geo_zone['geo_zone_id'] }}" selected="selected">{{ geo_zone['name'] }}</option>
                {% else %} 
                <option value="{{ geo_zone['geo_zone_id'] }}">{{ geo_zone['name'] }}</option>
                {% endif %} 
                {% endfor %} 
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="payment_paymentwpay_status" id="input-status" class="form-control">
                {% if (payment_paymentwpay_status) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_paymentwpay_sort_order" value="{{ payment_paymentwpay_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}